@*
 * Copyright (c) 2020, Daniel Kraemer
 * All rights reserved.
 * Licensed under BSD-3-clause (https://github.com/dkraemer/calcsubnet/blob/master/LICENSE)
 *@

@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="container-fluid">
    <div class="d-flex justify-content-lg-center">
        <SubnetCalculator />
    </div>
</div>
