<!--
Copyright (c) 2020, Daniel Kraemer
All rights reserved.
Licensed under BSD-3-clause (https://github.com/dkraemer/calcsubnet/blob/master/LICENSE)
-->

@inherits LayoutComponentBase

    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <SubnetForm @bind-IpAddress="@_ipAddress" @bind-SubnetMask="@_subnetMask" />
        </div>
        <div class="d-flex justify-content-center">
            
        </div>
       

    </div>
