@*
 * Copyright (c) 2020, Daniel Kraemer
 * All rights reserved.
 * Licensed under BSD-3-clause (https://github.com/dkraemer/calcsubnet/blob/master/LICENSE)
 *@

@inject HttpClient Http
<span class="badge badge-secondary">@_manifest?.Version</span>
